.action-tray{
    background: #EDF3FF;
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12vh;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-top: 40px;
}

.active-text{
    color: #0C365A;
    font-size: 11px;
    width: 60px;
    text-align: center;
}
.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.border-radius-all{
    border-radius: 30px;
}